<template>
    <div class="content">
        <md-card class="login">
            <md-card-header data-background-color="green">
                <h4 class="title text-center">Admin Login</h4>
                <p class="category text-center">Welcome to dashboard</p>
            </md-card-header>
            <md-card-content>
                <template>
                    <div class="md-layout">
                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                            <label>Email</label>
                            <md-input v-model="email" type="email"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-100">
                            <md-field>
                            <label>Password</label>
                            <md-input v-model="password" type="password"></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-size-100 text-right">
                            <md-button class="md-raised md-success" @click="login">
                                <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate" v-if="loader"></md-progress-spinner>
                            Login</md-button>
                        </div>
                    </div>
                </template>
            </md-card-content>
        </md-card>
    </div>
</template>

<script>
import axios from "axios";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
import Vue from 'vue';
Vue.use(Toast);
export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: '',
            loader: false
        };
    },
    methods: {
        login() {
          let self = this;
          self.loader = true;
          axios.post(  this.$apiAdress + '/api/login', {
            email: self.email,
            password: self.password,
          }).then(function (response) {
            self.$toast.success("Login successed.");
            self.loader = false;
            self.email = '';
            self.password = '';
            localStorage.setItem("api_token", response.data.data.token);
            self.$router.push({ path: '/dashboard' });
          })
          .catch(function (error) {
            self.loader = false;
            self.$toast.error("Login faild.");
          });
        }
    }
};
</script>

<style>
.content{
    text-align: center;
}
.md-card.login{
    width: 50%;
}
</style>