<template>
    <form novalidate  @submit.prevent="validateUser">
        <md-card>
            <md-card-header data-background-color="green">
                <h4 class="title">Add new Company</h4>
            </md-card-header>
            <md-card-content>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field :class="getValidationClass('name')">
                        <label>Company Name</label>
                        <md-input v-model="obj.name" type="text"></md-input>
                        <span class="md-error" v-if="!$v.obj.name.required">The name is required</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <label>Email Address</label>
                        <md-input v-model="obj.email" type="email"></md-input>
                        </md-field>
                    </div>
                </div>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <label>Company Website</label>
                        <md-input v-model="obj.website" type="text"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <md-input @change="handleFileUpload($event)" type="file"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-100 text-right">
                        <md-button type="submit" class="md-raised md-success">
                            <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate" v-if="loader"></md-progress-spinner>
                            Save</md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</template>

<script>
import axios from "axios";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
import Vue from 'vue';
Vue.use(Toast);
import { validationMixin } from 'vuelidate'
import {
    required,
} from 'vuelidate/lib/validators'
export default {
    mixins: [validationMixin],
    data() {
        return {
            loader: false,
            obj: {
                name: '',
                email: '',
                website: '',
                logo: ''
            },
            fileInput: ''
        };
    },
    methods: {
        handleFileUpload(event){
            let self = this;
            self.obj.logo = event.target.files[0];
        },
        save() {
            let self = this;
            self.loader = true;
            let formData = new FormData()
            formData.append('name', self.obj.name);
            if(self.obj.email)
                formData.append('email', self.obj.email);
            if(self.obj.website)
                formData.append('website', self.obj.website);
            if(self.obj.logo)
                formData.append('logo', self.obj.logo);
            axios.post(  this.$apiAdress + '/api/company', formData,{
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("api_token"),
                    'Content-Type': 'multipart/form-data',
                }
            }
            ).then(function (response) {
                self.$toast.success("Company added successed.");
                self.loader = false;
                self.$router.push({ path: '/companies' });
            })
            .catch(function (error) {
                self.loader = false;
            });
        },
        getValidationClass (fieldName) {
            const field = this.$v.obj[fieldName]

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                }
            }
        },
        validateUser () {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.save()
            }
        }
    },
    validations: {
        obj: {
            name: {
                required
            },
        }
    },
}
</script>
