<template>
    <div class="content">
        <div class="md-layout">
            <div
                class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
            >
                <md-card>
                    <md-card-header data-background-color="green">
                        <div class="md-layout">
                            <h4 class="md-layout-item title">Companies List</h4>
                            <h5 class="md-layout-item title text-right">total: {{dataCount}}</h5>
                        </div>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout">
                            <div class="md-layout-item">
                                <md-field>
                                <label>Search in Companies</label>
                                <md-input v-model="search" type="text" @keyup="Onsearch()"></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item text-right"> <md-button class="md-raised" @click="create()"> + Add New </md-button> </div>
                        </div>
                        <template>
                        <vuetable ref="vuetable"
                            class="table"
                            :api-mode="false"
                            :data="data"
                            :fields="fields"
                            @vuetable:pagination-data="onPaginationData"
                            :data-total="dataCount"
                            :per-page="perPage"
                            pagination-path
                        >
                        <template slot="actions" slot-scope="props">
                            <md-button class="md-raised md-primary"  @click="editItem(props.rowData.id)">
                                Edit
                            </md-button>
                            <md-button class="md-raised md-danger"  @click="deleteItem(props.rowData.id)">
                                Delete
                            </md-button>
                        </template>
                        </vuetable>
                        
                            <vuetable-pagination ref="pagination"
                                :css="css.pagination"
                                @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </template>
                    </md-card-content>
                </md-card>
            </div>
             <md-dialog-confirm
                :md-active.sync="active"
                md-title="Confirm Delete"
                md-content="Are you sure you want to delete this item?"
                md-confirm-text="Confirm"
                md-cancel-text="Cancel"
                @md-cancel="onCancel"
                @md-confirm="onConfirm" />
        </div>
    </div>
</template>

<script>
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import axios from 'axios';
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
import Vue from 'vue';
Vue.use(Toast);

export default {
    components: {
        Vuetable, VuetablePagination
    },
    data() {
        return {
            data: [],
            perPage: 10,
            dataCount: 0,
            fields: [
                {
                    name: "id",
                    title: "NO.",
                    titleClass: "",
                    dataClass: "list-item-heading",
                    width: "2%",
                },
                {
                    name: "name",
                    title: "NAME",
                    titleClass: "",
                    dataClass: "list-item-heading",
                    width: "4%",
                },
                {
                    name: "email",
                    title: "EMAIL ADDRESS",
                    titleClass: "",
                    dataClass: "list-item-heading",
                    width: "10%"
                },
                {
                    name: "website",
                    title: "WEBSITE URL",
                    titleClass: "",
                    dataClass: "list-item-heading",
                    width: "10%"
                },
                {
                    name: "__slot:actions",
                    title: "",
                    titleClass: "text-center",
                    dataClass: "text-center",
                    width: "10%",
                }
            ],
            css: {
                pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: ''
                }
            } },
            itemId: '',
            active: false,
            search: '',
            page: 1
        };
    },
    methods: {
        getData() {
            axios.get(this.$apiAdress + '/api/company?keyword=' + this.search + '&page=' + this.page , {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem("api_token")
                }
            })
            .then(response => {
                console.log("response>>", response)
                this.data = response.data
                this.perPage = response.data.meta.per_page
                this.dataCount = response.data.meta.total
            })
            .catch(error => {
                console.error(error)
            })
        },
        onPaginationData(paginationData) {
            console.log("dataaaaaa", paginationData)
            this.$refs.pagination.setPaginationData(paginationData.meta);
        },
        onChangePage(page) {
            this.page = page
            this.getData()
            this.$refs.vuetable.changePage(page);
        },
        editItem(id){
            this.$router.push({
                path: `companies-edit/` + id.toString(),
            });
        },
        create() {
            this.$router.push({
                path: `companies/add`,
            });
        },
        deleteItem(id){
            this.active = true
            this.itemId = id
        },
        onConfirm () {
            let self = this
            axios.delete(this.$apiAdress + '/api/company/'+self.itemId, {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem("api_token")
                }
            })
            .then(response => {
                self.$toast.success("Company deleted successed.");
                console.log(response)
                self.getData()
            })
            .catch(error => {
                self.$toast.error("Something is wrong!");
                console.error(error)
            })
        },
        onCancel () {
            
        },
        Onsearch(){
            this.getData()
        }
    },
    mounted () {
        this.getData()
    }
};
</script>
<style>
.table {
  width: 100%;
}

.table th {
  background-color: #ddd;
}

.table td, .table th {
  padding: 8px;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  padding: 0.5em 1em;
  margin: 0 0.25em;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  background-color: #fff;
  cursor: pointer;
}

.active {
  background-color: #ddd;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.link {
  cursor: pointer;
}
</style>