<template>
    <form novalidate  @submit.prevent="validateUser">
        <md-card>
            <md-card-header data-background-color="green">
                <h4 class="title">Edit Employee</h4>
            </md-card-header>
            <md-card-content>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field :class="getValidationClass('first_name')">
                        <label>First Name</label>
                        <md-input v-model="obj.first_name" type="text"></md-input>
                        <span class="md-error" v-if="!$v.obj.first_name.required">The first name is required</span>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field :class="getValidationClass('last_name')">
                        <label>Last Name</label>
                        <md-input v-model="obj.last_name" type="text"></md-input>
                        <span class="md-error" v-if="!$v.obj.last_name.required">The last name is required</span>
                        </md-field>
                    </div>
                </div>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <label>Phone</label>
                        <md-input v-model="obj.phone" type="number"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <label>Email Address</label>
                        <md-input v-model="obj.email" type="email"></md-input>
                        </md-field>
                    </div>
                </div>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-field>
                        <label>Company</label>
                            <md-select v-model="selectedCompany">
                                <md-option v-for="option in companies" :value="option.id" :key="option">{{ option.name }}</md-option>
                            </md-select>
                        </md-field>
                    </div>
                    
                    <div class="md-layout-item md-size-100 text-right">
                        <md-button type="submit" class="md-raised md-success">
                            <md-progress-spinner :md-diameter="20" :md-stroke="3" md-mode="indeterminate" v-if="loader"></md-progress-spinner>
                            Save</md-button>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</template>

<script>
import axios from "axios";
import Toast from "vue-toastification";
import "vue-toastification/dist/index.css";
import Vue from 'vue';
Vue.use(Toast);
import { validationMixin } from 'vuelidate'
import {
    required,
} from 'vuelidate/lib/validators'
export default {
    mixins: [validationMixin],
    data() {
        return {
            loader: false,
            logo: '',
            obj: {
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
            },
            companies: [],
            selectedCompany: ''
        };
    },
    methods: {
        getCData() {
            axios.get(this.$apiAdress + '/api/company' , {
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem("api_token")
                }
            })
            .then(response => {
                this.companies = response.data.data
            })
            .catch(error => {
                console.error(error)
            })
        },
        getData() {
            let self = this;
            axios.get(this.$apiAdress + '/api/employee/' + self.$route.params.id,{
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem("api_token")
                }
            })
            .then(function (response) {
                self.obj = response.data.data
                self.selectedCompany = response.data.data.company_id
            })
        },
        save() {
            let self = this;
            self.loader = true;
            let formData = new FormData()
            formData.append('first_name', self.obj.first_name);
            formData.append('last_name', self.obj.last_name);
            if(self.obj.email)
                formData.append('email', self.obj.email);
            if(self.obj.phone)
                formData.append('phone', self.obj.phone);
            if(self.selectedCompany)
                formData.append('company_id', self.selectedCompany);
            formData.append('_method', 'PUT');
            axios.post(  this.$apiAdress + '/api/employee/' + self.$route.params.id, formData,{
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("api_token"),
                    'Content-Type': 'multipart/form-data',
                }
            }
            ).then(function (response) {
                self.$toast.success("Employee Updated successed.");
                self.loader = false;
                self.$router.push({ path: '/employees' });
            })
            .catch(function (error) {
                self.$toast.error("Something is wrong!");
                self.loader = false;
            });
        },
        getValidationClass (fieldName) {
            const field = this.$v.obj[fieldName]

            if (field) {
                return {
                    'md-invalid': field.$invalid && field.$dirty
                }
            }
        },
        validateUser () {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.save()
            }
        }
    },
    mounted: function(){
        this.getData();
        this.getCData()
    },
    validations: {
        obj: {
            first_name: {
                required
            },
            last_name: {
                required
            },
        }
    },
}
</script>
